qc-catalogue-api/qc-catalogue-api-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:qc="tag:qc.ebu.ch,2026-01"
		   xmlns:qcc="tag:catalogue.qc.ebu.ch,2026-01"
		   targetNamespace="tag:catalogue.qc.ebu.ch,2026-01"
		   elementFormDefault="qualified">
	<!-- API structures -->
	<xs:import namespace="tag:qc.ebu.ch,2026-01" schemaLocation="../qc-data-model/qc.xsd"/>
	<xs:element name="Items">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="qcc:ItemInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ItemInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ThisVersion" type="qc:EBUQCVersionType"/>
				<xs:element name="Versions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Version" type="qc:EBUQCVersionType"
								maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Card">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Language" type="xs:language"/>
							<xs:element name="Title" type="xs:string"/>
							<xs:element name="Line1" type="xs:string"/>
							<xs:element name="Line2" type="xs:string"/>
							<xs:element name="Line3" type="xs:string"/>
							<xs:element name="Line4" type="xs:string"/>
							<xs:element name="Icon" type="qcc:ImageSourcesType" />
							<xs:element name="FullImage" type="qcc:ImageSourcesType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Item" type="qc:QCItemDefinitionType"/>
				<xs:any namespace="##any" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ImageSourcesType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Source">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Width" type="xs:nonNegativeInteger"/>
						<xs:element name="Height" type="xs:nonNegativeInteger"/>
						<xs:element name="Location" type="xs:anyURI"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
